:root {
    --color-white: hsl(0, 100%, 100%);
    --color-black: hsl(0, 0%, 0%);
    --color-grey-200: hsl(0, 0%, 85%);
    --color-grey-300: hsl(233, 8%, 79%);
    --color-navy-600: hsl(236, 13%, 42%);
    --color-navy-950: hsl(240, 100%, 5%);
    --color-navy-950-op: hsla(240, 100%, 5%, 50%);
    --color-gold-400: hsl(35, 77%, 62%);
    --color-red-500: hsl(4, 85%, 63%);
}
