@use "functions" as f;

$font-size-xxs: f.rem(14);
$font-size-xs: f.rem(15);
$font-size-sm: f.rem(18);
$font-size-md: f.rem(20);
$font-size-lg: f.rem(32);
$font-size-xl: f.rem(40);
$font-size-xxl: f.rem(56);
$font-weight-bold: 700;
$font-weight-xbold: 800;
$line-height-xs: f.rem(24);
$line-height-sm: f.rem(26);
$line-height-md: f.rem(32);
$line-height-lg: f.rem(40);
$line-height-xl: f.rem(56);
$letter-spacing-none: 0;
$letter-spacing-sm: f.rem(4.38);

@mixin text-preset-1 {
    font-size: $font-size-xxl;
    font-weight: $font-weight-xbold;
    line-height: $line-height-xl;
    letter-spacing: $letter-spacing-none;
}

@mixin text-preset-2 {
    font-size: $font-size-xl;
    font-weight: $font-weight-xbold;
    line-height: $line-height-lg;
    letter-spacing: $letter-spacing-none;
}

@mixin text-preset-3 {
    font-size: $font-size-lg;
    font-weight: $font-weight-bold;
    line-height: $line-height-md;
    letter-spacing: $letter-spacing-none;
}

@mixin text-preset-4 {
    font-size: $font-size-md;
    font-weight: $font-weight-xbold;
    line-height: $line-height-xs;
    letter-spacing: $letter-spacing-none;
}

@mixin text-preset-5 {
    font-size: $font-size-sm;
    font-weight: $font-weight-xbold;
    line-height: $line-height-xs;
    letter-spacing: $letter-spacing-none;
}

@mixin text-preset-6 {
    font-size: $font-size-xs;
    line-height: $line-height-sm;
    letter-spacing: $letter-spacing-none;
}

@mixin text-preset-7 {
    font-size: $font-size-xxs;
    font-weight: $font-weight-bold;
    line-height: $line-height-xs;
    letter-spacing: $letter-spacing-sm;
}
