@use "../utils/" as u;

*,
::before,
::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100dvh;
    width: 100%;
    font-family: "Inter", sans-serif;
    background-color: var(--color-white);
    padding: 0 u.rem(16) u.rem(80);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
}
